# 1. The Master Guardrail (Must be first)
--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.11.0/constraints-3.11.txt"

# 2. Airflow Providers (Unpinned)
# The constraints file above will automatically pick the safe version for MWAA 2.11
apache-airflow-providers-snowflake==6.3.1
apache-airflow-providers-cncf-kubernetes==10.5.0
snowflake-connector-python==3.15.0
snowflake-sqlalchemy==1.7.3
pandas==2.1.4
numpy==1.26.4

# 3. The dbt Bridge (Only 2 pins)
# Since dbt isn't in Airflow's constraints, we MUST pin these two
# to prevent pip from grabbing dbt 1.9+, which breaks Airflow's Protobuf.
# dbt-core==1.8.9
# dbt-snowflake==1.8.4

# airflow-dbt-python
# dbt-common>=1.25.0
# dbt-adapters>=1.16.3

# dbt-core==1.8.8
# dbt-snowflake==1.8.3
# dbt-common==1.10.0
# dbt-adapters==1.1.1